body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/mulher-moto.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-left: 10%;
  padding-right: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text img {
    height: 104px;
    margin-left: -20px;
}

/* End of hero image */

h1, h5 {
    color: #FF9A23;
}

h1, h2 {
    font-weight: 900;
}

#body-text {
    top:100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

footer form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

footer .block-input {
    width: 100%;
    display: block;
}

footer input {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.submit-btn {
    height: 60px;
    color: #FFFFFF;
    background-color: #FF9A23;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
}

.submit-btn:hover {
    box-shadow: 2px 4px 12px #CF7D1D;
}

.submit-btn:active {
    box-shadow: inset 0px 4px 10px #CF7D1D;
    border: none;
    outline: none;
  }


