body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/woman-riding-motor-scooter.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-left: 10%;
  padding-right: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

#body-text {
    top:100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer .block-input {
    width: 100%;
    display: block;
}

footer input {
    box-sizing: border-box;
    margin-bottom: 10px;
}