/*Thank you page*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

  header img {
    width: 125.5px;
    height: 105.42px;
    left: 126.5px;
    top: 102.69px;
    margin-left: 40px;
  }

.img-logo {
  max-width: 30%;
  height: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 6vw;
  font-size: 5vw;
  color: #ff9a23;
  text-transform: uppercase;
  margin-left: 40px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2vw;
  font-size:2vw;
  color: #4f4f4f;
  margin-left: 40px;
  margin-right: 70px;
}


/* Container holding the image and the text */
.container {
  position: relative;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: white;
  width: 50vw;
}

/* text donwlaod*/
.wrapper {
  margin-left: 40px;
  margin-right: 70px;
  white-space: normal !important;
}

.botton-download {
  height: 76px;
  width: 458px;
  max-width: 75%;
  color: #FFFFFF;
  background-color: #FF9A23;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  white-space: normal !important;
}

.botton-download:hover {
  box-shadow: 2px 4px 12px #CF7D1D;
}

.botton-download:active {
  box-shadow: inset 0px 4px 10px #CF7D1D;
  border: none;
  outline: none;
}

.textodownload {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.66vw;
  color: #FFFFFF;
  margin: 7px auto;
  text-decoration: none;
  
}

/* Media queries */

@media (min-width: 280px ) {

    .container {
    background-image: url("../img/mulher-moto-mobile.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    }

    .top-left {
    position: absolute;
    top: 15px;
    height: 0;
    width: 100%;
    }

    .img-logo {
    max-width: 34vw;
    padding-top:20px;
    

    }
    header img {
    width: 85px;
    height: 105.42px;
    margin-left: 25px;
    }

    h1{
    line-height: 9vw;
    font-size: 8vw;
    }

    p {
    line-height: 5vw;
    font-size:4vw;
    color: #ffffff;
    margin-left: 40px;
    margin-right: 100px;
    padding-right: 95px;
    white-space: normal !important;
    }

    .botton-download {
    height: 76px;
    width: 150px;
    max-width: 75%;
    font-weight: 900;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    white-space: normal !important;
      }

    .textodownload {
    font-size: 2.5vw;
    color: #FFFFFF;
    margin: 7px auto;
    text-decoration: none;
    font-weight: 900;
      }
  }

@media (min-width: 640px ) {

    .container {
    background-image: url("../img/mulher-moto-media.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    }

    .top-left {
    position: absolute;
    top: 0px;
    height: 100%;
    background-color: white;
    width: 50%;
    }

    h1{
    line-height: 5vw;
    font-size: 5vw;
    }
    p {
    line-height: 2vw;
    font-size:2vw;
    margin-left: 40px;
    margin-right: 70px;
    color: #4f4f4f;
  }

  .botton-download {
  height: 76px;
  width: 200px;
  max-width: 75%;
  font-weight: 900;
  white-space: normal !important;
  }

  .textodownload {

  font-weight: 900;
  font-size: 1.66vw;
  color: #FFFFFF;
  margin: 7px auto;
  text-decoration: none;
  }
}